

<div [ngClass]="{'divTours': true,
  'divTours':superOrdi === false,
  'difficile': superOrdi === true}">
    <input type="checkbox" class="form-check-input" id="materialUnchecked" [(ngModel)]="superOrdi">
    <label class="form-check-label" for="materialUnchecked">Niveau difficile</label>
</div>

  <div class="divTours">
    <span>Tour de :  </span>
    <span [ngStyle]="{color : estMonTour===true?'red':'black'}">
    <span *ngIf="estMonTour">Joueur</span>
    <span *ngIf="!estMonTour">Ordinateur</span>
    </span>
  </div>

   <table id="grille">
    <tbody>
    <tr>
      <td><app-cell [indiceDansLeJeu]=0 [cellSymbol]="cells[0].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell> </td>
      <td><app-cell [indiceDansLeJeu]=1 [cellSymbol]="cells[1].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell> </td>
      <td> <app-cell [indiceDansLeJeu]=2 [cellSymbol]="cells[2].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell></td>
    </tr>
    <tr>
      <td><app-cell [indiceDansLeJeu]=3 [cellSymbol]="cells[3].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell> </td>
      <td><app-cell [indiceDansLeJeu]=4 [cellSymbol]="cells[4].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell> </td>
      <td><app-cell  [indiceDansLeJeu]=5 [cellSymbol]="cells[5].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell> </td>
    </tr>
    <tr>
      <td> <app-cell [indiceDansLeJeu]=6 [cellSymbol]="cells[6].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell></td>
      <td> <app-cell [indiceDansLeJeu]=7 [cellSymbol]="cells[7].cellSymbol"
            (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell></td>
      <td><app-cell [indiceDansLeJeu]=8 [cellSymbol]="cells[8].cellSymbol"
        (cellJouee)="majCells($event)" [gameOver]="gameOver" [estMonTour]="estMonTour"></app-cell> </td>
    </tr>
    </tbody>
  </table>
  <div class="divTours"
  *ngIf="gameOver">{{resultat}}
    <button type="button" class="btn btn-info" (click)="newGame()">Nouvelle Partie</button>
  </div>
  
